/* base reset */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  outline: none;
  text-transform: none;
  text-decoration: none;
}

.content {
  font-size: 50px;
  cursor: pointer;
  color: #5b5b5b;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

/* Side menu */

/* the whole side menu */
.sidemenu {
  height: 100%;
  border: 1px solid red;
  /* width: 0; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: cornflowerblue;
  overflow-x: hidden;
  transition: 0.5s ease-in;
  padding-top: 60px;
}

/* the links & the close button */
.sidemenu a {
  padding: 8px 8px 8px 32px;
  border: 1px solid yellow !important;
  text-decoration: none;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: black;
  display: block;
  letter-spacing: 5px;
}

/* just the links */
.sm-wrapper {
  margin-top: 100px;
  background: pink;
}

/* Side Menu Hover Effect */

/* Main Content style */