/* Standard format */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none !important;
  /* -webkit-transition: all 225ms ease;
  -moz-transition: all 225ms ease; */
  transition: all 225ms ease;
}

/* STYLE NAV ABOVE MOBILE */
header {
  /* position: relative; */
  background: #222;
  height: 50px;
}

header a {
  color: #777;
}

header a:hover {
  color: #fff;
}

.logo {
  color: yellow;
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

.toggle-panel {
  display: none;
}

/* positioning row-links along the nav bars */
.row-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styling the links on the main page view itself */
.base-links {
  display: flex;
  width: 100rem;
  justify-content: space-between;
}

.base-links>li {
  list-style-type: none;
}

.base-links>li>a {
  color: white;
}

/*** HIDE PANEL ABOVE MOBILE SIZE ***/
#scotch-panel {
  display: none;
}

/*** KEEP: AUTO-CLOSE PANEL ABOVE MOBILE SIZE ****/
@media only screen and (min-width : 425px) {
  .scotch-panel-canvas {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}

/*====================================
=              REST OF PAGE         =
====================================*/
article {
  height: 5000px;
}

/* OWN EDITS */
.acontain {
  width: 100%;
  padding: 2rem;
  height: 40rem;
}

.first {
  background: grey;
}

.second {
  background: slateblue;
}

.third {
  background: cornflowerblue;
}

.fourth {
  background: paleturquoise;
}


/*====================================
=    ALL MOBILE FROM HERE ON DOWN    =
====================================*/
@media only screen and (max-width : 769px) {

  /* Hide horizontal links on main-page view */
  .base-links {
    display: none;
  }

  /* style & display toggle for opening the panel*/
  .toggle-panel {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: orange;
  }

  /** PANEL STYLES **/
  #scotch-panel {
    display: block;
    background: pink;
  }

  #scotch-panel ul {
    border: 6px solid black;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }

  #scotch-panel ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: blue;
  }

  #scotch-panel ul li a:hover {
    background: cyan;
  }
}