*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none !important;
  -webkit-transition: all 225ms ease;
  -moz-transition: all 225ms ease;
  transition: all 225ms ease;
}

header {
  position: relative;
  background: #222;
  height: 50px;
}

header a {
  color: #777;
}

header a:hover {
  color: #fff;
}

header .logo {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

header .toggle-panel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #333;
}

article {
  height: 5000px;
}

/*====================================
=            PANEL STYLES            =
====================================*/

#scotch-panel {
  background: pink;
}

#scotch-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#scotch-panel ul li a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: transparent;
  color: blue;
}

#scotch-panel ul li a:hover {
  background: #555;
}