$light-grey: #f2f2f2;
$med-grey: #e6e6e5;
$dark-grey: #333333;
$light-blue: #0073ab;
$med-blue: #0067a3;
$dark-blue: #002b53;
$white: #fff;
$gold: #ad8a51;
$other-grey: #666;

// Font sizes
$main-size: 1.6rem;
$carousel-head-size: 4rem;
$heading-size: 3rem;
$sub-heading-size: 2.6rem;
$nav-size: 1.4rem;
$date-size: 1.5rem;
$news-heading-size: 1.8rem;
$info-size: 1.3rem;

// Graphics measurements
$corner-radius: .5rem; // manually counting 5px at 12800% res :-|
$button-w-padding: 4rem;
$button-h-padding: 1.5rem;

// FULL-SIZE: Layout measurements 
// // -h = height | -w = width | -g = gutter
$generic-padding: 7rem;
$header-h: 6rem;
$banner-h: 64rem;
$feature-h: 54.6rem;
$features-circle-h: 15rem;
$services-img-h:1.6rem;
$services-panel-g: 3rem;
$services-txt-g: 1.5rem;
$contentinfo-h: 5rem;
$footer-h: 11.2rem;

// RESPONSIVE - MOBILE: Layout measurements
$responsive-gutter: 3rem;
$generic-mobile-padding: 7rem;