.carousel {
  height: 100% !important;

  .carousel-indicators li {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    background: rgba(255, 255, 255, .6);
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.4;
    margin-left: 1rem;
    border: 1px solid $white;
  }

  &-item>img {
    // not ideal but the only working solution to override bootstrap to stretch the carousel image
    min-height: $banner-h !important;
    object-fit: cover !important;
  }
}