.features__panel {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  @include respond(phone) {
    margin-bottom: 5rem;
  }

  &-heading {
    margin-top: 4.5rem;
    color: $light-blue;
    font-weight: $xlight-weight;
    font-size: $sub-heading-size;
    padding-bottom: 2rem;
  }

  &-txt {
    color: $dark-grey;
    font-size: 1.6rem;
    font-weight: $light-weight;
    line-height: 1.6;
    text-align: center;
    width: $features-circle-h;
    margin: 0 auto;

    @include respond(phone) {
      width: 28rem;
      font-size: 1.5rem;
    }
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: $white;
    border-radius: 50%;
    width: $features-circle-h;
    height: $features-circle-h;

    @include respond(phone) {
      width: 8rem;
      height: 8rem;
    }
  }

  // 2019 colour filter from https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element
  &-imgFilter {
    filter: invert(27%) sepia(73%) saturate(1992%) hue-rotate(177deg) brightness(95%) contrast(102%);
    width: 80%;
    height: 80%;
  }
}

.features__panel:last-child {
  @include respond(phone) {
    margin-bottom: 0rem;
  }
}

.feature-globe {
  width: 100%;
  height: 100%;
}