.panel {
  overflow: hidden;
  border-radius: $corner-radius;
  background: $white;
  margin-bottom: 0 !important;
  padding: 0;

  &-heading {
    padding: 3rem $services-txt-g 2rem $services-txt-g;
    font-size: $sub-heading-size;
    color: $light-blue;
    font-weight: $xlight-weight;
    text-align: center;
    line-height: 1.2;
    overflow: hidden;
  }

  // for news only
  &-date {
    font-size: $date-size;
    font-weight: $light-weight;
    color: $dark-grey;
    padding: 2rem 2.4rem 0rem 2.4rem;
  }

  &-list {
    padding: 0 $services-txt-g 2.4rem $services-txt-g;
  }

  &-item {
    font-size: $main-size;
    line-height: 3rem;
  }

  &-item:before {
    content: "+";
    color: $light-blue;
    margin-right: 1rem;
  }
}

// NOT IDEAL SOLUTION - Specifies panel margin-bottom at tab-land, tab-port 
// Unable to use bootstrap mb-md-5 for some reason?
// But solves the previous uneven margin-bottom at full-size

.services>.container>.row>.col:first-child,
.services>.container>.row>.col:nth-child(2),
.clientnews>.container>.row>.news>.newsrow>.col-12:first-child {
  @include respond(tab-land) {
    margin-bottom: 4rem;
  }
}

.services>.container>.row>.col:nth-child(3) {
  @include respond(tab-port) {
    margin-bottom: 4rem;
  }
}

.panel-img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover !important;
  object-position: 50% 50% !important; // doesn't position center?
  // width: 27.8rem;
  height: 16.2rem;
  overflow: hidden;
}