.container {
  max-width: 120rem; // adjusting bootstrap grid
  padding: 0 !important;
  outline: none;

  // hackfix
  @include respond (phone) {
    padding-left: 3%;
    padding-right: 3%;
    max-width: 100%;
  }
}

.header,
.banner,
.features,
.services,
.clientnews,
.footer,
.credit {
  display: block;
  position: relative;
  width: 100%;
}