.clientnews {
  background: $light-grey;
  padding: $generic-padding 0;
}

.client {
  &__heading {
    @include subHeading
  }

  &__txt {
    padding-bottom: 3rem;
  }

  @include respond(tab-land) {
    padding-bottom: 6rem;
  }

}

.news {
  &__heading {
    @include subHeading;
  }

  &-subhead {
    font-size: $news-heading-size;
    color: $light-blue;
    font-weight: $xlight-weight;
    line-height: 1.4;
    overflow: hidden;
    padding: 2rem 2.4rem 2.4rem 2.4rem;
  }
}

.clientnews>.container>.row {
  @include respond (tab-land) {
    padding-left: 0;
    padding-right: 0;

    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include respond (phone) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem; // design stipulates 1 rem but 2rem visually looks larger than what is in brief
    margin-right: 1rem;
  }
}