.footer {
  padding: 3rem 0rem;
  background: $med-grey;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include respond(tab-port) {
    display: none;
  }

  &__badges {
    height: 3.7rem;
    margin: 0 0 1rem 0;
    padding: 0;
  }

  &__nav {

    &>ul li {
      padding-bottom: 1rem;
    }

    &>p,
    ul>li,
    &-linklist>li>a {
      text-transform: uppercase;
      border-bottom: 1px solid $med-grey;
      transition: 0.3s ease-in;
    }

    &-linklist>li>a:hover {
      border-bottom: 1px solid black;
    }

    &-socialmedia {
      padding-top: 1rem;
      display: flex;

      >li>a>i {
        color: $med-blue;
        transition: 0.5s ease;
        font-size: 2.5rem;
        margin-right: 2rem;

        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}

.apple,
.android {
  height: 3.7rem;
}

.android {
  margin-left: 3rem;

  @include respond(tab-land) {
    margin-left: 0;
  }
}

// from services
.footer>.container>.row {
  @include respond (tab-land) {
    padding-left: 0;
    padding-right: 0;

    margin-left: 2rem;
    margin-right: 2rem;
  }
}