.services {
  background: $light-blue;
  padding: $generic-padding 0;

  @include respond(tab-port) {
    padding: $generic-mobile-padding 0 !important;
  }
}

.services>.container>.row {
  @include respond (tab-land) {
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include respond (phone) {
    margin-left: 1rem; // design stipulates 1 rem but 2rem visually looks larger than what is in brief
    margin-right: 1rem;
  }
}